body{
  background-color:#026857 ;
}
.Text{
  display: flex;
  gap: 10%;
  color: white;
}
  #learnmore{
    border-radius: 60px;
  }
  #icons{
    width: 340px;
  }
  #logo{
    width: 100px;
  }
  .navbar-container{
    display: flex;
    list-style-type: none;
    gap: 60px;
  }

  .navbar-container a{
    color: rgb(244, 241, 241);
    text-decoration: none;

  }
  .navbar-container li{
    margin-left: 20px;
  }
  .navbar-container a:hover{
    color: #021668;
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }

  .hamburger span{
    width: 25px;
    height: 3px;
    background-color: aliceblue;
    margin: 2px 0;
    transition: all 0.3 ease;
  }


  @media screen and (max-width: 375px){
    .navbar{
      flex-direction: column;
      align-items:flex-start;
    }

  
  /* .navbar-container{
    display: none;
    flex-direction: column;
    width: 100%;
  } */
  .navbar-container.active{
    display: flex;
  }
    
  .navbar-container li{
    margin: 10px 0px;
  }
  .hamburger{
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .navbar-container {
    position: fixed;
    top: 4.5rem;
    left: 0;
    background: #0f0110;
    z-index: 1;
    width: 900px;
    height: 600px;
    opacity:5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
   }
   .navbar-container a {
    color: #fff;
    padding: 1rem 1.5rem;
    display: block;
    font-size: 15px;
   }

  /* .navbar-container{
    flex-direction: column;
    text-align: center;
  } */
  #chama{
    width: 200px;
    height: 200px;
  }
  #learnmore{
    border-radius: 90px;
  }
}


@media screen and (max-width: 768px){
  .navbar{
    flex-direction: column;
    align-items:flex-start;
  }


/* .navbar-container{
  display: none;
  flex-direction: column;
  width: 100%;
} */
.navbar-container.active{
  display: flex;
}
  
.navbar-container li{
  margin: 10px 0px;
}
.hamburger{
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
}

.navbar-container {
  position: fixed;
  top: 4.5rem;
  left: 0;
  background: #0f0110;
  z-index: 1;
  width: 900px;
  height: 600px;
  opacity:5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
 }
 .navbar-container a {
  color: #fff;
  padding: 1rem 1.5rem;
  display: block;
  font-size: 15px;
 }

/* .navbar-container{
  flex-direction: column;
  text-align: center;
} */
#chama{
  width: 200px;
  height: 200px;
}
#learnmore{
  border-radius: 90px;
}
}

@media screen and (max-width: 1000px){
  .navbar{
    flex-direction: column;
    align-items:flex-start;
  }


/* .navbar-container{
  display: none;
  flex-direction: column;
  width: 100%;
} */
.navbar-container.active{
  display: flex;
}
  
.navbar-container li{
  margin: 10px 0px;
}
.hamburger{
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
}

.navbar-container {
  position: fixed;
  top: 4.5rem;
  left: 0;
  background: #0f0110;
  z-index: 1;
  width: 900px;
  height: 600px;
  opacity:5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
 }
 .navbar-container a {
  color: #fff;
  padding: 1rem 1.5rem;
  display: block;
  font-size: 15px;
 }

/* .navbar-container{
  flex-direction: column;
  text-align: center;
} */
#chama{
  width: 200px;
  height: 200px;
}
#learnmore{
  border-radius: 90px;
}
}

