body {
  background-color: #026857;
  margin: 0;
  padding: 0;
}

#logobrand{
  color: white;
  padding-top: 10px;
}

.Text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 5px;
  padding-left: 40px;
  
}

#learnmore {
  border-radius: 10px;
  padding: 13px 10px;
  background-color:white;
  color: #026857;
  border: none;
  cursor: pointer;
  margin-left: 78px;
  font-size: medium;

 
}

#icons {
  width: 340px;
  margin-left: 62px;
  
}

#logo {
  width: 100px;
  padding-bottom: 20px;
  margin-left: 30px;
}

#chama{

  width: 700px;
  height: 500px;
  margin-left: -20%;
  margin-top: 10%;
  border-radius: 20px;

}

#paragraph{
  padding-bottom: 10px;
  font-size: 64px;
  padding-left: 40px;
  font-weight: bolder;
}
.paragraph{
  font-size: 32px;
  padding-left: 40px;
  font-weight: 400;

}
.navbar {
  display: flex;
  gap: 60px;
  padding-top: 10px;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
  background-color: #026857;
  font-size: 20px;
}

.nav {
  display: flex;
  /* align-items: center; */

}

.navbar-container {
  display: flex;
  list-style-type: none;
  gap: 5rem;
  /* margin-left: 50px; */

}

.navbar-container a {
  color: white;
  text-decoration: none;
}

.navbar-container a:hover {
  color: #021668;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 40px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 20px;
  
  transition: all 0.3s ease;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(10px, 10px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(10px, -5px);
}


/* Working queries */

/* Small screens (320px to 480px) */
@media screen and (min-width: 320px) and (max-width: 393px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
  }
  #logo{
    margin-right: 30px;
  }
  .container{
    width: 100%;
  }
  .container{
    width: 100%;
    height: 100%;
  }
  .nav {
    display: flex;
    align-items: center;
  }

  #logobrand {
    display: none;
    margin-right:30px ;
  }

  .navbar-container {
    display: none;
    flex-direction: column;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 89%;
    height: 97%;
    background-color:#39877a;
    z-index: 1;
    /* padding: 1.9rem; */
  }

  .navbar-container.active {
    display: flex;
  }

  .navbar-container li {
    margin: 0.5rem 0;
  }

  .navbar-container a {
    color: white;
    
    display: block;
  }

  .hamburger {
    display: flex;
    z-index: 4;
    padding-top: 9%;
  }

  .Text {
    flex-direction: column;
    padding: 0.1rem;
    font-size:30px;
    padding: 2px;
    
  }

  #chama {
    object-fit: cover;
    width: 100%;
    margin: 5%;
    height: 200px;
    margin-left: 0.4%;
    
    


  }
  #paragraph{
    font-size: 30px;
    padding: 0 39px;
    margin-bottom: 20px;
  }
  .paragraph{
    font-size: 15px;
    padding:0  39px;
    margin-bottom: 20px;
  }

  #learnmore {
    border-radius: 10px;
    padding: 11px 11px;
    margin-left: 45px;
    font-size: small;

  }
  .icons{
    width: 100px;

  }
  #icons{
    width: 250px;
    margin-left: 32%;
  }
  
  #logo {
    width: 95px;
    margin-left: -2px;
  }
}

@media screen and (min-width: 400px) and (max-width: 480px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
  }
  #logo{
    margin-right: 30px;
  }
  .container{
    width: 100%;
  }
  .container{
    width: 100%;
    height: 100%;
  }
  .nav {
    display: flex;
    align-items: center;
  }

  #logobrand {
    display: none;
    margin-right:30px ;
  }

  .navbar-container {
    display: none;
    flex-direction: column;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 90%;
    height: 95%;
    background-color:#39877a;
    z-index: 1;
    padding: 1.9rem;
  }

  .navbar-container.active {
    display: flex;
    gap: 150px;

  }

  .navbar-container li {
    margin: 0.5rem 0;
  }

  .navbar-container a {
    color: white;
    
    display: block;
  }

  .hamburger {
    display: flex;
    z-index: 4;
    padding-top: 10%;
  }

  .Text {
    flex-direction: column;
    padding: 0.9rem;
    font-size:30px;
  }

  #chama {
    object-fit: cover;
    width: 80%;
    margin: 4%;
    height: 250px;
    margin-left: 37px;


  }
  #paragraph{
    font-size: 35px;
    padding: 0 36px;
  }
  .paragraph{
    font-size: 17px;
    padding:0  36px;
  }

  #learnmore {
    border-radius: 10px;
    padding: 11px 11px;
    margin-left: 50px;
    font-size: small;

  }
  .icons{
    width: 100px;

  }
  #icons{
    width: 250px;
    margin-left: 36%;
  }
  
  #logo {
    width: 100px;
    margin-left: 2px;
  }
}

/* Small to medium screens (480px to 540px) */
@media screen and (min-width: 480px) and (max-width: 550px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
  }
   
  #logo {
    width: 100px;
    margin-left: 5px;
  }
  .nav {
    display: flex;
    align-items: center;
  }

  #logobrand {
    display: none;
  }

  .navbar-container {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 4.5rem;
    left: 0;
    width: 100%;
    height: 108%;
    text-align: center;
    background-color: #39877a;
    z-index: 1;
    padding: 1rem;
  }

  .navbar-container.active {
    display: flex;
  }

  .navbar-container li {
    margin: 0.5rem 0;
  }

  .navbar-container a {
    color: rgb(237, 231, 231);
    padding: 0.5rem 1rem;
    display: block;
  }

  .hamburger {
    display: flex;
    z-index: 4;
  }
  .Text {
    flex-direction: column;
    align-items: center;
    padding: 0rem;
  }

  #chama {
    width: 100%;
    margin-left:2%;
    margin: 0%;
    height: 300px;
  }

  #learnmore {
    margin-top: 1rem;
    padding-top: 2%;
    margin-left: 8%;
  }
  #paragraph{
    padding-bottom: 0px;
    font-size: 44px;
    padding-left: 0px;
    font-weight: bolder;
    margin-left: 5%;
   
  }
  .paragraph{
    font-size: 24px;
    padding-left: 0px;
    font-weight: 400;
    margin-left: 5%;
  }
  .icons{
    margin-left: -7%;
  }
  #logo{
    margin-right: 40px;
  }
}
@media screen and (min-width:551px) and (max-width:770px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #026857;
  }
  #logo {
    width: 100px;
    margin-left:90px;
  }

  .nav {
    display: flex;
    align-items: center;
  }

  #logobrand {
    display: none;
    margin-right:30px ;
  }

  .navbar-container {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 4.5rem;
      left: 0;
      width: 100%;
      font-size: xx-large;
      text-align: center;
      height: 93%;
      background-color: #39877a;
      z-index: 1;
      padding: 1rem;
    }
    .navbar-container li {
      margin: 0.5rem 0;
      gap: 50px;
    }
  

  .navbar-container a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  .navbar-container.active {
    display: flex;
  }
  .navbar-container a:hover {
    color: #021668;
  }

  .hamburger {
    display: flex;
    z-index: 4;
    margin-right: 80px;
    margin-top:36px ;
  }


  .Text {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  #chama {
    object-fit: cover;
     margin:1.5%;
    width: 100%;
    height: 320px;
    margin-top: 0%;
    
  }

  #learnmore {
    margin-top: 1rem;
    margin-left: 20%;

    
  }
  #paragraph{
    padding-bottom: 0px;
    font-size: 48px;
    padding-left: 0px;
    font-weight: bolder;
    margin-left: 5%;
   
  }
  .paragraph{
    font-size: 24px;
    padding-left: 0px;
    margin-left: 5%;
  }
  .icons{
    margin-left: 9%;
  }
 
}
@media screen and (min-width: 771px) and (max-width: 910px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #026857;
  }

  .nav {
    display: flex;
    align-items: center;
  }

 #logobrand {
    display: none;
    margin-right:30px ;
  }

  .navbar-container {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 4.5rem;
    left: 0;
    font-size: xx-large;
    text-align: center;
    height: 99%;
    width: 96%;
    background-color: #c02aa0;
    z-index: 1;
    padding: 1rem;
  }

  .navbar-container a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  .navbar-container a:hover {
    color: #021668;
  }
  .navbar-container.active {
    display: flex;
  }

  .hamburger {
    display: flex;
    z-index: 4;

  }
  .Text {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  #chama {
    object-fit: cover;
     margin-left: 5%;
    width: 90%;
    
  }

  #learnmore {
    margin-top: 1rem;
    margin-left: 9%;

    
  }
  #paragraph{
    font-size: xxx-large;
    margin-left: -3%;
    margin-top: 1%;
  }
  .paragraph{
    font-size: xx-large;
    width: 80%;
    margin-left: -3%;
    margin-top: 4%;
    margin-bottom: 5%;
  }
  .icons{
    margin-left: -0.8%;
  }
  #logo{
    padding-right: -30px;
  }
}
@media screen and (min-width: 911px) and (max-width: 1000px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #026857;
  }

  .nav {
    display: flex;
    align-items: center;
  }

 #logobrand {
    display: none;
    margin-right:30px ;
  }

  .navbar-container {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 4.5rem;
    left: 0;
    font-size: xx-large;
    text-align: center;
    height: 99%;
    width: 100%;
    background-color: #39877a;
    z-index: 1;
    padding: 1rem;
  }

  .navbar-container li {
    margin: 4rem 0;
    gap: 50px;
  }
  .navbar-container a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  .navbar-container a:hover {
    color: #021668;
  }
  .navbar-container.active {
    display: flex;
  }

  .hamburger {
    display: flex;
    z-index: 4;
    margin-right: 30px;
    margin-bottom: 10px;
  }
  .Text {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  #chama {
    object-fit: cover;
     margin-left: 5%;
    width: 90%;
    
  }

  #learnmore {
    margin-top: 1rem;
    margin-left: 13%;

    
  }
  #paragraph{
    font-size: xxx-large;
    margin-left: -3%;
    margin-top: 1%;
  }
  .paragraph{
    font-size: xx-large;
    width: 80%;
    margin-left: -3%;
    margin-top: 4%;
    margin-bottom: 5%;
  }
  .icons{
    margin-left: 4%;
  }
}

@media screen and (min-width: 1000px) and (max-width:1050px){
  .navbar {
    display: flex;
    align-items: center;
    padding: 0rem;
    background-color: #026857;
  }
   .nav {
    display: flex;
    align-items: center;
  } 

  .navbar-container {
    display: flex;
    list-style-type: none;
    gap: 3rem;
    margin-right: 65px;
  }

  .navbar-container a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
  }

  .navbar-container a:hover {
    color: #021668;
  }

  .hamburger {
    display: none;
  }

  .Text {
    display: block;
    
  }
  #paragraph{
     font-size: xx-large;
     margin-left: -3.5%; 
     margin-top: 1%;
    width: 100%; 
  }
  .paragraph{
    font-size: x-large;
    width: 100%;
    margin-left: -3.5%;
    margin-top: 4%;
    margin-bottom: 5%;
  }
  #chama {
    object-fit:cover;
    width: 100%;
    margin-left: -0%;
    margin-top: 0.5%;
    
  }
  #learnmore {
    font-size: 1.1rem;
    margin-left: 5.5%;
  }
  .icons{
    margin-left: -2.7%;
  }
  .Text {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 50px;
  
    
  }
  
}
@media screen and (min-width: 1050px) and (max-width:1300px){
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:9px;
    background-color: #026857;
  }
   .nav {
    display: flex;
    align-items: center;
    margin-left: -18px;
  } 

  #logobrand {
    margin-left: 1px;
  }

  .navbar-container {
    display: flex;
    list-style-type: none;
    gap: 4rem;
    margin-right: 25px;
  }

  .navbar-container a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .navbar-container a:hover {
    color: #021668;
  }

  .hamburger {
    display: none;
  }

  .Text {
    display: block;

    
  }
  #paragraph{
    font-size: xx-large;
    margin-top: 1%;
    width: 100%;
  }
  .paragraph{
    font-size: x-large;
    width: 100%;
    margin-top: 4%;
    margin-bottom: 5%;
  }
  #chama {
    object-fit:cover;
    width: 96%;
    margin-left: 2%;
    margin-top: 0.5%;
    
  }

  #learnmore {
    font-size: 1.1rem;
    margin-left: 5%;
  }
  .icons{
    margin-left:-1%;
  }
  #logo{
    margin-right:0px;
    margin-left: 30%;
  }


}
@media screen and (min-width: 280px) and (max-width: 300px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
  }
  .container{
    width: 100%;
  }
  .nav {
    display: flex;
    align-items: center;
  }
  #logo{
    margin-left: -10%;
    margin-top: 9%;
  }
  #logobrand {
    display: none;
  }

  .navbar-container {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 4.5rem;
    left: 1.2;
    width: 92%;
    height:120% ;
    background-color: #39877a;
    z-index: 1;
    padding: 1rem;
  }

  .navbar-container.active {
    display: flex;
  }

  .navbar-container li {
    margin: 0.5rem 0;
  }

  .navbar-container a {
    color: white;
    padding: 0.5rem 1rem;
    display: block;
  }

  .hamburger {
    display: flex;
    margin-right: -40px;
    margin-top: 35px;
  }

  .Text {
    flex-direction: column;
    align-items: center;
    font-size: 5px;
    padding: 10px;
  }

  #chama {
    /* object-fit: cover; */
    margin-left: 2%;
    /* padding-left: 30px; */
    padding: 20px;
    margin-top: 20%;
    height: 20%;
    width: 90%;
    border-radius:29px ;

  

  }

  #learnmore {
      margin-left: 10%;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: smaller;

  }
  .icons{
    width: 50%;
    margin-left: -8%;
  }
  #icons{
    width: 200px;
    margin-left: 40px;
  }
  #paragraph{
    font-size: 30px;
    margin-left: -8%;
  }
  .paragraph{
    font-size: 20px;
    margin-left: -8%;
    
  }
}


