/* .nav {
   color:#edf4f3;
 display: flex;
justify-content: flex-end;
 gap: 3%;
 font-size: larger;
 padding-right: 15%;


  }
  li{
   display: flex;
   text-decoration: none;
  } */

  .navbar{
    background-color:  #006D5B;
  }
  
  
  
 
  